<div class="form-container">
	{{ form_start(form, {
        attr:{id: 'assets_form'}
}) }}
	<div>
		{{ form_widget(form.name,{ 
            attr: {placeholder: 'Name'}
}) }}
	</div>
	<div>
		{{ form_widget(form.quantity,{ 
            attr: {placeholder: 'Quantity'}
}) }}
	</div>
	{{ form_end(form) }}

	<div class="button-form">
		<button type="submit" form="assets_form" class="btn">{{ button_label|default('Save') }}</button>
			{% if showDeleteForm %}
				{{ include('assets/_delete_form.html.twig') }}
			{% endif %}
	</div>
