{% extends 'base.html.twig' %}

{% block title %}Assets index{% endblock %}

{% block body %}
{% include '_navbar.html.twig' %}
    <div class="assets-container">
        <div class="family-header">
            <h1>Royal assets </h1>
            <a href="{{ path('assets_new') }}"><img class="addButton" src="{{ asset('build/images/plus-circle-solid.svg')}}"></img></a>
        </div>
        <div class="assets-list-container">
            {% for asset in assets %}
            <div class="assets-list">
                <img class="asset-icon" src="{{ asset('build/images/atom-solid.svg')}}"></img>
		        <h1>
			        {{ asset.name}}
		        </h1>

			    <p>quantity : {{ asset.quantity }} </p>
		        <a href="{{ path('assets_edit', {'id': asset.id}) }}"><img class="editButton" src="{{ asset('build/images/edit-regular.svg')}}"></img></a>
            </div>
            
            {% else %}
                <tr>
                    <td colspan="4">no assets found</td>
                </tr>
            {% endfor %}
        </div>
    </div>
{% endblock %}
