{% extends 'base.html.twig' %}

{% block title %}Edit Family
{% endblock %}

{% block body %}

	<div class="edit-container">
		{% include '_navbar.html.twig' %}
		<a href="{{ path('family_index') }}"><img class="backButton" src="{{ asset('build/images/undo-solid.svg')}}"></img>
    	</a>
	<h1 class="title">Edit
		{{ family.firstname}}
		{{ family.lastname }}
	</h1>

	{{ include('family/_form.html.twig', {'button_label': 'Update', 'showDeleteForm': true}) }}

</div>
{% endblock %}
