{% extends 'base.html.twig' %}

{% block title %}Booking index{% endblock %}

{% block body %}
{% include '_navbar.html.twig' %}
            <div class="family-header">
		        <h1>Every castle available to visit</h1>
		        <a href="{{ path('booking_new') }}"><img class="addButton" src="{{ asset('build/images/plus-circle-solid.svg')}}"></img></a>
	        </div>    
            <div class="boking-container">
            {% for booking in bookings %}
                <div class="booking-list">
                    <div class="castle-container">
                        <img class="castle-picture" src="{{ booking.picture }}"></img>
                    </div>

                    <div class="info-container">
                        <p> {{ booking.city }} </p>
                        <p> {{ booking.name }} </p>
                        <p> {{ booking.description }} </p>
                        <p> {{ booking.availability }} </p>
                        <p class="ticket-button"> Book ticket now ! <p>
		                <a href="{{ path('booking_edit', {'id': booking.id}) }}"><img class="editButton" src="{{ asset('build/images/edit-regular.svg')}}"></img></a>
                    </div>
                </div>
            {% else %}
                <tr>
                    <td colspan="6">No castle found</td>
                </tr>
            {% endfor %}
        </div>
{% endblock %}